{% extends "base.html" %}


{% block main %}
<h3>{{ table.model.__name__ }} Objects</h3>
<p>All paths referenced are located on the GFSWEB03 machine.</p>
<table>
    <thead>
        <tr>{% for column in table.columns %}
            <th>{{ column.header }}</th>{% endfor %}
        </tr>
    </thead>
    <tbody>{% for instance in instances %}
        <tr>{% for column in table.columns %}
            <td>{{ column.valueof(instance) }}</td>
        {% endfor %}</tr>
    {% endfor %}</tbody>
</table>
{% endblock %}
